
<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
// eslint-disable-next-line
import Nav from '@/components/Nav'
export default {
  name: 'App',
  components: {Nav}
}
</script>

<style>
</style>
<template>
  <div>
    <Nav></Nav>
    <router-view/>
  </div>
</template>
